config A1026
	tristate "Audience a1026/eS305 Voice Processor"
	depends on I2C && INTEL_SCU_IPC
	help
	  Provides an interface to the Audience voice processing
	  unit via an I2C bus interface.

	  To compile this driver as a module, choose M here: the module will
	  be called a1026.

config SCU_LOGGING
	tristate "Intel SCU fabric debug driver"
	default n
	---help---
	 Driver that enable for debugging Intel SCU firmware fabric related error.

config UUID
	tristate "get uuid"
	default n
	---help---
	 Driver for get UUID.

source "../modules/drivers/misc/bcm-lpm/Kconfig"
source "../modules/drivers/misc/ti-st/Kconfig"
